*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size:  62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
#player {
    margin: 0 auto;
    max-width: 414px;
    position: relative;
}
#player .pause{
    display: none;
}
#player.playing .pause{
    display: inline-block;
}
#player.playing .play{
    display: none;
}
#dashboard {
    font-size: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 414px;
    background-color: rgb(84, 150, 207);
    padding: 10px 20px 20px;
    z-index: 1;
}
.header {
    text-align: center;
}
.header h2 {
    margin: 20px;
}
.control {
    display: flex;
    justify-content: center;
    align-items: center;
}
.control > .btn {
    font-size: 3rem;
    margin: 20px;
}
.btn.play-toggle {
    background-color: rgb(110, 179, 83);
    border-radius: 50%;
    padding: 10px;
}
.btn.random.active {
    color: rgb(255, 115, 0);
}
.btn.repeat.active {
    color: rgb(255, 115, 0);
}
#progress {
    width: 100%;
    height: 5px;
}
#playlist {
    margin-top: 408px;
    background-color: rgb(224, 196, 196);
}
.song {
    display: flex;
    padding: 12px 0;
}
.song.active {
    background-color: rgb(72, 23, 209);
}
.song .thumb {
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 20px
}
.song .body {
    flex : 1;
    padding-top: 4px;
}
.song .body > * {
    margin: 8px;
}
.song .body > :nth-child(1){
    font-size: 2rem;
    
}
.song .body > :nth-child(2){
    font-size: 1.6rem;
    
}
.song .option {
    font-size: 3rem;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    padding-top: 16px;
    text-align: center;
}
.song.active .body,
.song.active .option {
    color: rgb(179, 193, 206);
}
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}
.cd .cd-thumb {
    padding-top: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}
